body{
  background-color: #ebe9d7;
}

input{
  background-color: #ebe9d7;
  border: none;
  width: 351px;
}

hr{
  width: 351px;
}

img{
  max-width: 100%;
}


#apresentacaoEmpresas{
  width: 176px;
  height: 64px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #383743;
  margin: auto;
}

#descricao{
  width: 357.7px;
  height: 52px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: -0.3px;
  text-align: center;
  color: #383743;
  margin: auto;
  margin-bottom: 20px;
}

.enter{
  width: 70px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.btn{
  width: 324px;
  height: 52.8px;
  border-radius: 3.6px;
  background-color: #57bbbc;
  color: #ffffff;
  border: none;
  display: block;
  margin: 46.3px auto;
  transition-duration: 0.2s;
  cursor: pointer;
}

.btn:active {
  border: 1px solid #57bbbc;
  background-color: #fff;
  color: #57bbbc;
}

.alinhamentoInput{
  text-align: left;

}

.alinhamentoIcon{
  text-align: center;
}


.logoLogin{
  width: 295px;
  height: 72px;
  object-fit: contain;
  margin: 50px auto;
}

.input-center{
  text-align: center;
}
.input-center2{
  text-align: center;
}

.input-center2 > input{
  position:relative;
  top:0;
}
