<!DOCTYPE html>
<html ng-app="myApp" >
<head>
  <meta charset="UTF-8">
  <title>ioasys - Empresas</title>
   <link rel="icon" href="assets/logo.jpg">

   <link rel="stylesheet" type="text/css" href="login/loginStyle.css">
   <link rel="stylesheet" type= "text/css" href="login/normalize.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


</head>

<body>
      <div class="container">
        <div class="row">
          <div class="logoLogin">
              <img src="assets/logo-home.png" srcset="assets/logo-home@2x.png 2x, assets/logo-home@3x.png 3x">
          </div>

      <div>
        <p id="apresentacaoEmpresas"><b>BEM-VINDO AO EMPRESAS</b></p>
        <p id="descricao">Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</p>
      </div>

      </div>

      <div ui-view></div>

      <script type="text/ng-template" id="login.html">

      <form name="form" ng-submit="formSubmit()" autocomplete="off">

        <div class="form-group input-center">
          <img src="assets/ic-email.png" srcset="assets/ic-email@2x.png 2x, assets/ic-email@3x.png 3x" class="ic_email">
          <input type="text" placeholder="E-mail" class="form-control alinhamentoInput" ng-model="username" required="" >
          <hr>
        </div>

        <div class="form-group input-center2">
          <img src="assets/ic-cadeado.png" srcset="assets/ic-cadeado@2x.png 2x, assets/ic-cadeado@3x.png 3x" class="ic_cadeado">
          <input type="password" placeholder="Senha" class="form-control alinhamentoInput" ng-model="password" required="" value="12341234">
          <hr>
        </div>

        <div class="form-group">
          <button type="submit" class="btn"><span class="enter">ENTRAR</span></button>
        </div>

      </form>

      </script>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js'></script>

    <script src="loginController/index.js"></script>

</body>
</html>
