<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ioasys - Empresas</title>
    <link rel="icon" href="../assets/logo.jpg">

   <link rel="stylesheet" type="text/css" media="screen and (min-width: 0px)" href="conteudoStyleSmall.css">
   <link rel="stylesheet" type="text/css" media="screen and (min-width: 800px)" href="conteudoStyleMedium.css">
   <link rel="stylesheet" type="text/css" media="screen and (min-width: 1240px)" href="conteudoStyleLarge.css">

   <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="controller/conteudoController.js"></script>

   <script type="text/javascript">
      $( document ).ready(function()
      {

        $( "#exampleInputName").focus(function() {
          $( "#logo" ).hide();
        });

        $( "#exampleInputName").focus(function() {
          $( "#frase" ).hide();
        });

        var $box = $('#logo');
        $(document.body).focusout(function(){
        if (!$box.has(this).length) { // if the click was not within $box
          $box.show();
          }
        });

      });
   </script>
  </head>

  <body ng-app="app" ng-controller="Ctrl">

    <div class="header">
    <img src="../assets/logo-nav.png" srcset="../assets/logo-nav@2x.png 2x, ../assets/logo-nav@3x.png 3x" class="logo_nav" id="logo">


        <form class="form-inline" autocomplete="off" id="wrap">
        <div class="form-group">
          <input data-ng-model="search.id"  type="search" class="form-control" id="exampleInputName" placeholder="Pesquisar" ng-focus="ocultar()" ng-blur="exibir()">
          <input id="search_submit" value="search" type="submit" class='sumir'>
       </div>
        </form>
        </div>

        <div class="content">
          <p id="frase">Clique na busca para iniciar.</p>

        <div class="base" ng-if="search" ng-repeat="company in companies | filter: {id: search.id}" ng-click="ShowHide()" ng-class="{'active': isActive}">
            <div class="imag">
              <p class="empresa">E{{company.id}}</p>
            </div>
            <div class="info" ng-show = "Info">
                <ul class="listConfig">
                  <li id="nome">{{company.enterprise_name}}</li>
                  <li id="negocio">{{company.enterprise_type.enterprise_type_name}}</li>
                  <li id="pais">{{company.country}}</li>
                </ul>
            </div>

            <div class="description" ng-show = "IsVisible">
              <div class="imagBig">
                <p class="empresaG">E{{company.id}}</p>
              </div>

                <div class="descricaoApp">
                  <p id="descricao">{{company.description}}</p>
                </div>
            </div>
        </div>

      </div>

  </body>
</html>
