
html, body{
  padding: 0
  margin: 0;
  border: 0;
}
body{
  background-color: #ebe9d7;
}

input[type="search"] {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  object-fit: contain;
  background: url(../assets/ic-close.png) center no-repeat;
}

input[type="search"]:focus:hover {
  border-bottom: 1px solid #ffffff;
}

input[type="search"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #ffffff;
  cursor: text;
}

input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
  background: url(../assets/ic-search-copy.png) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

#descricao{
  position: relative;
  font-family: "SourceSansPro", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #8d8c8c;
}

#frase{
  width: 546px;
  height: 39px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 32px;
  line-height: 1.22;
  letter-spacing: -0.5px;
  text-align: center;
  color: #383743;"
}


#wrap {
  top: 50%;
  transform: translateY(-50%);
  margin-right: 50px;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
}

#nome{
  width: 306.3px;
  height: 39px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: #1a0e49;
}

#negocio{
    width: 172.6px;
    height: 32px;
    font-family: Roboto;
    font-size: 24px;
    text-align: left;
    color: #8d8c8c;
}

#pais{
  width: 119.7px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  text-align: left;
  color: #8d8c8c;
}

.description{
  position: relative;
  width: 723px;
  height: 782.4px;
  border-radius: 4.7px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 43.6px;
  cursor: pointer;
}

.empresaG{
  position: relative;
  width: 77px;
  height: 77px;
  font-family: Roboto;
  font-size: 77px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
  top: -59px;
}

.imagBig{
  position: relative;
  background-color: #7dc075;
  width: 579px;
  height: 296px;
  margin: 0 auto;
  top: 48px;
}

.descricaoApp{
  position: relative;
  width: 562.3px;
  height: 216px;
  margin: 0 auto;
  margin-top: 92px;
}

.base {
  position: relative;
  width: 723px;
  height: 213.9px;
  border-radius: 4.7px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 44px;
  cursor: pointer;
}

.imag{
  position: relative;
  background-color: #7dc075;
  width: 293px;
  height: 160px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30.6px;
  float: left;
}

.info{
  position: relative;
  width: 143px;
  height: 95px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30.6px;
  float: left;
}

.empresa{
  width: 77px;
  height: 77px;
  font-family: Roboto;
  font-size: 77px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 40px;
}

.listConfig{
  list-style-type: none;
  float: left;
  padding: 0;
  margin-top: 0;
}

.header {
  background-color: rgb(240, 87, 130);
  height: 151px;
  text-align: center;
}

.logo_nav{
  display: inline;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  visibility: visible;
}

.content{
  width: 100%;
  height: 100%;
}

.textContent{
 text-align: center;
 font-family: "Roboto", sans-serif;
 font-size: 32px;
 line-height: 1.22;
 letter-spacing: -0.5px;
 color: #383743;
}
